*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
    color: white;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(69, 0, 109, 0.603), rgba(110, 0, 169, 0.718), rgba(154, 1, 236, 0.819));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar{
    display: none;
}

.navbar{
    background-color: transparent;
    backdrop-filter: blur(20px);
    width: 100px;
    padding: .4rem .4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    margin-top: -2rem;
    margin-bottom: 2rem;
    transition-duration: .2s;
}

.navbar:hover{
    transform: scale(0.97);
}

.profile{
    width: 100px;
    border-radius: 20%;
}

.menu{
    filter: invert(1);
    width: 2rem;
    margin-right: 1rem;
}

.main{

}

.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .9rem 2rem;
    width: 320px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.795);
    margin: 1rem;
    transition-duration: .2s;
    cursor: pointer;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.319);
}

.items:hover{
    transform: scale(0.96);
    background-color: rgb(255, 255, 255);
}

.main a{
    text-decoration: none;
}

.icon{
    width: 2rem;
}

.user{
    color: rgb(61, 61, 61);
}

.name{
    margin-bottom: .5rem;
}

.sub{
    font-family: monospace;
    color: rgb(186, 186, 186);
    margin-bottom: 2rem;
}

/**MEDIA QUERIES**/

@media(max-width: 400px){
    .container{
        width: 100%;
    }
}